<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newBurger="{{devoured}}">
		{{#if devoured}}DEVOURED!{{else}}<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>{{/if}}
	</button>

	
</li>
